   {% extends "main/main.html" %}{% load bootstrap4 %}
{% block body %}
 
 
<div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Detail Post</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> {{profile.user}}</a>
          </div>

          <!-- Content Row -->
  <div class="row">
      <div class="col-lg-12 mb-4 m-auto">
          <div class="card shadow mb-4">
            <div class="card-header py-3">

                <h6 class="m-0 font-weight-bold text-primary">Post By {{topic.user}} in {{topic.created_at}}</h6>

            </div>
            <div class="card-body">
                  <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 30rem; height:30rem;" src="{{ topic.image.url}}" alt="">
                  </div>
                  <div class="card-title">
                  	<h2>{{topic.title}}</h2>
                  </div>
                  <p>{{topic.content}}</p>

                  <a target="_blank" rel="nofollow" href="https://undraw.co/"><i class="fas fa-comment"></i> {{total_comments}} </a> |

                  <a target="_blank" rel="nofollow" href="https://undraw.co/"><i class="fas fa-heart"></i> 0 </a> |
                  <a target="_blank" rel="nofollow" href="https://undraw.co/"><i class="fas fa-heart-broken"></i> 0 </a>
                </div>
            </div>

      </div>
  </div><!--row-->


  <div class="container">

  <div class="row">
 
 <!-- Comments Form -->
 <div class="main-comment-section"> 
 {% include 'topic/comment.html' %}
</div>
<!-- Comments Form --> 


        </div>
      </div>
    </div>
  </div> <!--row-->
</div> <!--container-->

</div> <!--container-fluid-->
{% endblock body%}
 